body {
    background-color: #666666;
    color: black;
    padding: 4.5vw;
    text-shadow: none;
}

#logo {
    width: 90px;
}

#title {
    width: 160px;
}

.logo, .left {
    background-color: #AAAAAA;
}

.left {
    padding: 10px 20px;
    height: 40vw;
}

.left .btn {
    width: 100%;
}

.top {
    background-color: #CCCCCC;
}

.right {
    background-color: white;
}

.footer {
    font-size: 13px;
    padding: 0.5vw;
}

.btn {
    width: 200px;
}

.employee-details {
    margin-top: 150px;
}

.machdetails h6 {
    font-size: 14px;
}
